<header>
    <h1>WATCHACAT Launching Soon!!</h1>
    <p>We are a new way to capture your daily happiness... and want you to show it to the world and let them share a smile with you..
    </p>

</header>
 
<div class="wrapper">
    <div class="screen" id="screen-1" data-video="vid/bird.mp4">    
        <img src="" class="big-image" />
        <h1 class="video-title"></h1>
    </div>
</div>
 
<nav id="next-btn">
    <a href="#" class="next-icon"></a>
</nav>

    <%= javascript_include_tag "application" %>
    <script src="/assets/jquery.imagesloaded.min.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="/assets/bigvideo.js"></script>
    <script type="text/javascript">
    var BV = new $.BigVideo();
      BV.init();
      BV.show("<%= request.protocol + request.host_with_port + asset_path('main-video.mp4') %>",{ambient:true});
     
    </script>
